<section class="c-companylist">
    <div class="c-companylist__content l-container l-container--1160px">
        <h2 class="c-sechead c-sechead--companylist">
            <span class="c-sechead__eng">Corporate Information</span>
            企業一覧
        </h2>
        <p class="c-companylist__description u-palt">愛媛で働きたい。<br class="is-display--onlysp">けれど、どんな会社があるか分からない。<br>
            愛媛シゴト図鑑では、愛媛に本社がある企業のみご紹介！</p>
        <div class="c-companylist__list">
            <% companies.forEach(company=> { %>
                <a href="#" class="c-companylist__block">
                    <div class="c-companylist__imgwrapper">
                        <picture>
                            <source media="(max-width: 767px)"
                                srcset="./assets/img/companylist/img<%= company.id %>--sp.jpg">
                            <img src="./assets/img/companylist/img<%= company.id %>.jpg" alt="<%= company.heading %>"
                                class="c-companylist__img">
                        </picture>
                    </div>
                    <div class="c-companylist__textwrapper u-palt">
                        <h3 class="c-companylist__blockheading">
                            <%= company.heading %>
                        </h3>
                        <h4 class="c-companylist__blocksubheading ">
                            <%= company.subheading %>
                        </h4>
                        <p class="c-companylist__blockdescription "><%- company.description %></p>
                        <span class="c-companylist__blocklabel ">
                            <%= company.label %>
                        </span>
                    </div>
                </a>
                <% }); %>
        </div>
        <a href="#" class="c-secbtn">
            <span class="c-secbtn__text">企業一覧はこちら</span>
            <img src="./assets/img/arrow.svg" alt="arrow icon" class="c-secbtn__icon">
        </a>
    </div>
</section>